*{
    font-family: 'poppins', sans-serif;
    text-transform:capitalize;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    min-height: 100vh;
    background: linear-gradient(rgba(225,184,0,0.2), rgba(15, 15, 15, 0.8)), url(../IMAGENES/herramientas2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;  
}

.heading{
    font-size: 4rem;
    color: #fff;
    text-align: center;
    padding: 6rem 1rem 0 0;
    letter-spacing: .2rem;
    font-weight: 600;
}

header {
    width: 100%;
    background-color: #0c0c0c;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: .2s;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li {
    margin: 1rem 1rem;

}

header .navbar ul li a {
    font-size: 2rem;
    color: #fff;
    transition: .2s;
    text-decoration: none;
    
}

header .navbar ul li .activate,
header .navbar ul li a:hover{
    color: #84c1ff;
}

header .logo {
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    margin-left: 10rem;
    text-decoration: none;
   
}



.requested .box-container{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    flex-wrap: wrap;

}

.requested .box-container .box {
    width: 28rem;
    padding-bottom: 1rem;
    text-align: center;
    box-shadow: 0 .3rem  5rem #0c0c0c;
    background: #1c2761;
    margin: 4rem 2rem;

}

.requested .box-container .box img {
    height: 8.5rem;
    width: 8.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -4rem;
    border: .6rem solid #84c1ff;
}

.requested h2 {
   font-size: 2rem;
   color: #000000;
   padding: 0 .5rem;
   text-align: center;
   margin-bottom: 5rem;
}

.requested h1 {
    font-size: 3.5rem;
    text-align: center;
    background-color: #84c1ff;
    width: 50rem;
}

.requested .box-container .box .stars {
    font-size: 1.6rem;
    color: rgb(252, 248, 27);
    padding: 1.3rem .1rem;
}

.requested .box-container .box h3 {
    color: antiquewhite;
    padding: 0 .5rem;
}

.requested .box-container .box p {
    color: #fff;
}



.requested .box-container .box button {
    
    border-radius: 1rem;
    background: #48484e;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: .1s;
    
    margin-top: .3rem;
    border-color: #48484e;
}



.requested .box-container .box button:hover {
    background: #84c1ff;
    color: #000000;
    border: .2rem solid #484843;
}